body {
  background: gray;
}
img {
  width: 60%;
  margin: .5rem;
}
header, footer {
  background: #090909;
  width: 100%;
  color: ivory;
  text-align: center;
  padding: .2rem;
}
h2 {
  position: relative;
  bottom: 20px;
}
a {
  text-decoration: none;
  margin: .2rem;
  color: gold;
}
a:hover {
  color: ivory;
}
.profile {
  display: flex;
  justify-content: center;

}
